
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {% if title %}
    <title>{{ title }} - BeeHappy</title>
  {% else %}
    <title>Welcome to BeeHappy</title>
  {% endif %}
  <style>
  body {
    color: #ffffff;
    background-color: #E0E0E0;
    font-family: Arial, sans-serif;
    font-size:14px;
    -moz-transition-property: text-shadow;
    -moz-transition-duration: 4s;
    -webkit-transition-property: text-shadow;
    -webkit-transition-duration: 4s;
    text-shadow: none;
  }
  body.blurry {
    -moz-transition-property: text-shadow;
    -moz-transition-duration: 4s;
    -webkit-transition-property: text-shadow;
    -webkit-transition-duration: 4s;
    text-shadow: #fff 0px 0px 25px;
  }
  a {
    color: #FFFFFF;
    text-decoration: none;
  }
  .textColumn, .linksColumn {
    padding-left: 2em;
    padding-right: 2em;
  }
  .textColumn {
    position: fixed;
    top: 0px;
    right: 70%;
    left: 0px;
    bottom: 0px;
    overflow: hidden;

    text-align: left;
    padding-top: 11em;
    background-color: #1BA86D;
    background-image: -moz-radial-gradient(left top, circle, #6AF9BD 0%, #00B386 60%);
    background-image: -webkit-gradient(radial, 0 0, 1, 0 0, 500, from(#6AF9BD), to(#00B386));
  }
  .textColumn p {
    left: 70%;
    float:left;
  }
  .linksColumn {
    position: fixed;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 30%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: auto;
    background-color: #E0E0E0;
  }

  .linksinnerColumn {
    position: absolute;
    overflow: auto;
  }

  .imageContainer {
    text-align: center;
    position: fixed;
    top: 20%;
    padding-left: 100px;
  }

  h1 {
    font-size:450%;
    font-weight: normal;
    margin-bottom: 0em;
  }
  h2 {
    font-size: 200%;
    font-weight: normal;
    margin-bottom: 0em;
  }
  ul {
    padding-left: 1em;
    margin: 0px;
  }
  li {
    margin: 1em 0em;
  }

  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg .centered_bold_coloured{font-weight:normal;background-color:#0CB88A;color:#FFFFFF;vertical-align:top;text-align:center}
  .tg .empty_cells{color:#333333; background-color:#FFFFFF;vertical-align:top}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}

  </style>
</head>
<body id="beehappy">
  <div class="textColumn">
    <a href="/"><img src="/static/BeeHappy.png" width="340"/><h1>BeeHappy</h1></a>
    <p>Deutsche Bank | Autistica Hackathon</p>

  </div>

  <div class="linksColumn">
    <div class="linksinnerColumn">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
