{% extends "base.html" %}

{% block content %}
    <h2>Listing Events:</h2>
    
    	{% for event in events %}

<p><b>User Name: {{ event['anxious-person']}} </b></p>

<table class="tg" width="100%">
  <tr>
    <th class="centered_bold_coloured" colspan="3">Feeling</th>
    <th class="centered_bold_coloured" colspan="4">Behaviour</th>
    <th class="centered_bold_coloured" colspan="4">Resolution</th>
  </tr>
  <tr>
    <td class="centered_bold_coloured">When?</td>
    <td class="centered_bold_coloured">What?</td>
    <td class="centered_bold_coloured">Where?</td>
    <td class="centered_bold_coloured">When?</td>
    <td class="centered_bold_coloured">What?</td>
    <td class="centered_bold_coloured">Where?</td>
    <td class="centered_bold_coloured">When?</td>
    <td class="centered_bold_coloured">Where?</td>
    <td class="centered_bold_coloured">Success</td>
    <td class="centered_bold_coloured">Trigger</td>
  </tr>
  <tr>
    <td class="empty_cells">{{event.feeling.when|datetimeformat}}</td>
    <td class="empty_cells">{{event.feeling.what}}</td>
    <td class="empty_cells">{{event.feeling.where|gpsformat|safe}}</td>
    <td class="empty_cells">{{event.behaviour.when|datetimeformat}}</td>
    <td class="empty_cells">{{event.behaviour.what}}</td>
    <td class="empty_cells">{{event.behaviour.where|gpsformat|safe}}</td>
    <td class="empty_cells">{{event.resolution.when|datetimeformat}}</td>
    <td class="empty_cells">{{event.resolution.where|gpsformat|safe}}</td>
    <td class="empty_cells">{{event.resolution['outcome-successful']}}</td>
    <td class="empty_cells">{{event.resolution['trigger-details']}}</td>

  </tr>

</table>
  		{% endfor %}

{% endblock %}
