{% extends "base.html" %}

{% block content %}

<div class="imageContainer">

    <a href="/events/"><img src="static/cal.png" title="Events Log - Calendar Icon" width="350" height="350" /></a>
    <a href="/remedies/"><img src="static/experiment.png" title="Remedy Log - Conical Icon" width="400" height="400" /></a>

</div>

{% endblock %}
