{% extends "base.html" %}

{% block content %}
    <h2>Remedy Events:</h2>

	<table class="tg" width="100%">
		<tr>
		    <th class="centered_bold_coloured">When?</th>
		    <th class="centered_bold_coloured">What?</th>
		    <th class="centered_bold_coloured">Where?</th>
		    <th class="centered_bold_coloured">Notes</th>
		 </tr>
		    {% for remedy in remedies %}
		 <tr>
		    <td class="empty_cells">{{ remedy.when|datetimeformat }}</td>
		    <td class="empty_cells">{{ remedy.what }}</td>
		    <td class="empty_cells">{{ remedy.where|gpsformat|safe }}</td>
		    <td class="empty_cells">{{ remedy.notes }}</td>
		 </tr>
		 	{% endfor %}
	</table>

    </ul>
{% endblock %}
